---
layout: default
title: 天启的Blog
description: 天启的Blog
keywords: 文章
---

<div class="sidebar-module">
<h4>Archives</h4>
<ol class="dl-horizontal">
	{% for post in site.posts %}
	<li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
</ol>
</div>





<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>
					天启的Blog
				</h1>
			</div>
			<div class="row-fluid">
				<div class="span8">

					<p>
						<strong><span class="marker"><samp><tt><q>新闻资讯 <a href="http://a.com">文章</a></q></tt></samp></span></strong>
					</p>

					{% for post in site.posts %}
					<p><strong><span class="marker"><samp><tt><q>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></q></tt></samp></span></strong></p>
					{% endfor %}
				</div>
				<div class="span4">
				</div>
			</div>
		</div>
	</div>
</div>






