---
layout: default
title: 天启的Blog
description: 天启的Blog
keywords: 文章
---

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>
					天启的Blog
				</h1>
			</div>
			<div class="row-fluid">
				<div class="col-sm-9 col-md-6 col-lg-8">

				{% for category in site.categories %}
				<h2>{{ category | first }}</h2>
				</span>{{ category | last | size }}</span>
				<ul class="arc-list">
					{% for post in category.last %}
						<h3><strong><samp><tt>{{ post.date | date:"%Y-%m-%d" }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></tt></samp></strong></h3>
					{% endfor %}
				</ul>
				{% endfor %}
				</div>
				<div class="col-sm-3 col-md-6 col-lg-4">
					<p>
						<strong><strong><span class="label"></span></strong></strong>
					</p>
					<h2>
						<strong><strong>PHP</strong></strong>
					</h2>
					
					<p>
						<strong><strong><span class="label"></span></strong></strong>
					</p>
					<h2>
						<strong><strong>MYSQL</strong></strong>
					</h2>
					
					<p>
						<strong><strong><span class="label"></span></strong></strong>
					</p>
					<h2>
						<strong><strong>CSS</strong></strong>
					</h2>
					
				</div>
			</div>
		</div>
	</div>
</div>


