<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{ page.title }}</title>
<meta name="keywords" content="关键字">
<meta name="description" content="内容">
<link rel="stylesheet" href="./style.css" type="text/css">
</head>
<body>

<div id="wrapper">
	<div id="header">
		<h1><a href="http://wuyuans.com/" rel="home"><strong>My's Blog</strong></a></h1>
		<div id="description">Just for Sharing</div>
	</div>
	<div id="navigation">
		<div>
			<ul>
			<li><a title="HOME" href="#">首页</a></li>
			<li><a title="记录学习中遇到的问题，分享学习经验。" href="#">学习笔记</a>
			</li>
			<li><a title="ABOUT" href="#">关于</a></li>
			</ul>
		</div>
	</div>
	<div id="container">
		<div id="content">
		{{ content }}
		</div>
	</div>
</div>
</body>
</html>
